@tailwind base;
@tailwind components;
@tailwind utilities;

.text-h1 {
  font-size: clamp(28px, 1vw + 1rem, 34px);
}

.text-h2 {
  font-size: clamp(24px, 1vw + 1rem, 29px);
}

.text-h3 {
  font-size: clamp(20px, 1vw + 1rem, 24px);
}

.text-h4 {
  font-size: clamp(14px, 1vw + 1rem, 18px);
}

.text-body {
  font-size: clamp(16px, 1vw + 1rem, 26px);
}
